/* 強制的にハンバーガーメニューを非表示 */
.openbtn9, #g-nav {
    display: none !important; /* 強制的に非表示 */
  }
  
  @media screen and (max-width: 768px) {
    .openbtn9, #g-nav {
      display: block !important; /* 強制的に表示 */
    }
  
    /* 強制的にデスクトップナビゲーションを非表示 */
    #desktop-nav {
      display: none !important;
    }
  }
  
  @media screen and (min-width: 769px) {
    #desktop-nav {
      display: block !important; /* 強制的に表示 */
    }
  }
  