/* Hide hamburger menu on desktop and show on mobile */
.openbtn9, #g-nav {
    display: none; /* Hide by default */
  }
  
  @media screen and (max-width: 768px) {
    .openbtn9, #g-nav {
      display: block; /* Show hamburger menu on screens smaller than 768px */
    }
  
    /* Hide desktop navigation on mobile */
    #desktop-nav {
      display: none;
    }
  }
  
  /* Show desktop navigation on larger screens */
  @media screen and (min-width: 769px) {
    #desktop-nav {
      display: block;
    }
  }
  