
html,body{
  height: 100%;/*高さを100%にして描画エリアをとる*/
}

#particles-js{ 
  position:fixed;/*描画固定*/
  z-index:-1;/*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color:#108900;/*背景色*/
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.news {
  width: 60%;
  margin: 50px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.news ul {
  list-style: none;
  padding: 0;
}

.news li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.news .label {
  background: #fdd;
  color: #d00;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.news .date {
  flex: 0 0 100px;
  text-align: center;
  color: #999;
}

.news .content {
  flex: 1;
  padding-left: 20px;
}

/* スマホ対応 */
@media screen and (max-width: 768px) {
  .news {
      width: 90%;
      margin: 20px auto;
      padding: 10px;
  }

  .news h1 {
      font-size: 1.5em;
  }

  .news li {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0;
  }

  .news .label, .news .date, .news .content {
      flex: none;
      text-align: left;
      padding-left: 0;
  }

  .news .label {
      margin-bottom: 5px;
  }

  .news .date {
      margin-bottom: 5px;
  }
}

.fadeIn{
  animation-name:fadeInAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
 
.fadeInTrigger{
  opacity: 0;
}

h4{
  padding-top: 130px;
  text-align: center;
  font-size: 25px;
  color: #fff;
}

.member{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.member2{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.sensyu{
  text-align: center;
  padding: 20px;
  padding-top: 50px;
}

.sensyuimg{
  border-radius: 50%;
}

@media (max-width: 600px) {
  .sensyuimg {
      width: 100px;
      height: 100px;
  }
}

main{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}